<header>
<h1>
	Jon Canady
</h1>

<nav>
	<ul>
		<li>
			<a href="/">Home</a>
			<p>Introduction to me</p>
		</li>
		<li>
			<a href="/articles/">Articles</a>
			<p>Kinda like a blog</p>
		</li>
		<!-- <li>
			<a href="/projects/">Projects</a>
			<p>Things I've done</p>
		</li> -->
		<li>
			<a href="http://twitter.com/joncanady">Current status</a>
			<p>In 140 characters or less</p>
		</li>
		<li>
			<a href="http://github.com/joncanady">Code</a>
			<p>Fork me on Github</p>
		</li>
		<li>
			<a href="http://flickr.com/photos/jcanady">Photos</a>
			<p>Infrequently taken</p>
		</li>
		<li>
			<a href="/about/">Colophon</a>
			<p>About this site</p>
		</li>
	</ul>
</nav>
</header>
