header, footer, nav, section, article {
	display:block;
}

@font-face 
{
	font-family: 'League Gothic';
	src: url('/fonts/leaguegothic.eot');
}

html {
   font-size: 62.5%;
}

body
{
	font-family: 'Helvetica Neue', Arial, Verdana, sans-serif;
	background: #E8E8E8; /* url('/images/background.jpg') repeat; */
	margin: 0;
	font-size: 1.8em;
}

header
{
	background-color: #B5C5D2;
	padding: .5em;
	margin-bottom: 1em;
	text-align: center;
	-moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px; -webkit-border-bottom-right-radius: 20px;
	border-radius: 20px;
}

header ul
{
	margin-left: -2em;
	font-size: 1.2em;
}
header ul li
{
	display: inline;
	list-style-type: circle;
	padding: 1em;
}
header ul li.first
{
	list-style-type: none;
}

h1
{
	font-family: 'League Gothic';
	font-size: 3em;
	margin: 0;
	letter-spacing: -2px;
	color: #000;
}

h2
{
	font-family: 'League Gothic';
	font-size: 2em;
	margin: 0;
	letter-spacing: -1px;
	color: #000;
}

header h1 
{
	font-size: 4em;
}

header span.sub
{
	color: #E2E2E2;
}

body
{
	color: #333;
	width: 35em;
	margin-left: auto;
	margin-right: auto;
}

#alert
{
	background-color: #C30;
	color: #222;
	border: 2px solid #900;
	padding-left: 1em;
	padding-right: 1em;
}

#alert a
{
	color: #FF8;
}

ul.archive li
{
	list-style-type: none;
	margin-left: -2em;
}




footer 
{
	border-top: 1px solid #333;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 2em;
	font-size: .8em;
}

footer a.license
{
	float: right;
}

dl dt
{
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
}