header, footer, nav, section, article {
	display:block;
}

@font-face {
	font-family: 'DroidSansRegular';
	src: url('DroidSans.eot');
	src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff'), url('DroidSans.ttf') format('truetype'), url('DroidSans.svg#DroidSans') format('svg');
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('DroidSans-Bold.eot');
	src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('DroidSans-Bold.woff') format('woff'), url('DroidSans-Bold.ttf') format('truetype'), url('DroidSans-Bold.svg#DroidSans-Bold') format('svg');
}


a
{
  color: inherit;
}

a:link
{
  text-decoration: underline;
}

a:visited 
{
  text-decoration: underline;
}

a:hover
{
  color: #CCF;
  text-decoration: underline;
}

a:active
{
  color: blue;
}

strong, b
{
/* color: orange; */
}

html {
   font-size: 62.5%;
}

body
{
/*  background: #3A4047;*/
/*  background: #222;*/
    font-weight: 400;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1em;
    background: #2B3434;
    margin: 0;
    font: 1.8em 'Droid Sans', arial, sans-serif;
    color: #ddd;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0;
}

#wrapper
{
    text-align: justify;
    background-color: #105;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -wekbit-border-radius: 1em;
    padding: 1em
}


nav
{    
    font-family: 'Droid Sans', arial, serif;
    font-size: 1em;
    text-align: center;
}

nav ul
{
    list-style-type: none;
    color: #FFF;
    margin-top: 0;
    margin-left: -2em;
}

nav ul li
{
    display: inline;
    padding: 0 1em;
}

nav ul li a
{
    text-decoration: none;
    color: #FFF;
}

nav ul li a:hover
{
    background-color: #369;
    color: #fff;
}


#content
{
    z-index: 10;
    width: 550px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 1em;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    background-color: #111;
    position: relative;
    top: -.5em;
}

#content h1
{
  font: 2em 'Ubuntu';
  font-weight: 700;
}

#content h2 
{
  font: 1.5em 'Ubuntu';
  font-weight: normal;
}

header
{
    z-index: 50;
    position: relative;
}

header h1
{ 
  font-family: 'Ubuntu';
  font-weight: ;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
}

header h2
{
    font-family: 'Ubuntu';
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}



article nav 
{
  font-size: .8em;
  overflow: auto;
  margin-top: 1.3em;
}

blockquote
{
  border-left: 3px solid #aaa;
  margin-left: auto;
  padding-left: 1em;
  color: #aaa;
  font-style: italic;
}


header ul, #archive ul
{
	font-size: 1.2em;
}
header ul li, #archive ul li
{
	list-style-type: none;
}

header ul li a, #archive ul li a
{
  margin-top: 1.5em;
}

header ul li p, #archive ul li p
{
  margin-top: 5px;
  font-size: .7em;
  color: #bbb;
  line-height: 1em;
}

article
{
    line-height: 1.5em;
}

article h1
{
  margin-bottom: 0;
  line-height: 1em;
  text-align: left;
}

article h1 time
{
    color: #333;
}

article h1, article h2
{
    font-weight: 700;
}

article p.meta
{
  margin-top: .3em;
  margin-bottom: 2em;
}

#alert
{
  background: #522;
  color:#8a1f11;
  border-color:#FBC2C4;
  border: 2px solid #FBC2C4;
  padding-left: 1em;
  padding-right: 1em;
}

#alert a
{
	color: #FF8;
}

ul.archive li
{
	list-style-type: none;
	margin-left: -2em;
}




footer 
{
    margin: -.8em auto auto auto;
    width: 440px;
    font-size: .8em;
    padding: 0;
    z-index: 10;
}

footer p 
{
    text-align: center;
    margin: 0;
    padding: 0;
}

/* for the xml-rpc post */
dl dt
{
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
}
